<mat-card>
    <mat-card-title>First Name</mat-card-title>
    <mat-card-subtitle>{{person.firstName}}</mat-card-subtitle>
</mat-card>
<mat-card>
    <mat-card-title>Last Name</mat-card-title>
    <mat-card-subtitle>{{person.lastName}}</mat-card-subtitle>
</mat-card>
<mat-card>
    <mat-card-title>Middle Name</mat-card-title>
    <mat-card-subtitle>{{person.middleName}}</mat-card-subtitle>
</mat-card>
<mat-card>
    <mat-card-title>Middle Name</mat-card-title>
    <mat-card-subtitle>{{person.email}}</mat-card-subtitle>
</mat-card>
<mat-card>
    <mat-card-title>Cell Phone</mat-card-title>
    <mat-card-subtitle>{{person.cellPhone}}</mat-card-subtitle>
</mat-card>
<mat-card>
    <mat-card-title>Alternate Phone</mat-card-title>
    <mat-card-subtitle>{{person.alternatePhone}}</mat-card-subtitle>
</mat-card>
<mat-card>
    <mat-card-title>Gender</mat-card-title>
    <mat-card-subtitle>{{person.gender}}</mat-card-subtitle>
</mat-card>
<mat-card>
    <mat-card-title>SSN</mat-card-title>
    <mat-card-subtitle>{{person.ssn}}</mat-card-subtitle>
</mat-card>
<mat-card>
    <mat-card-title>Date of Birth</mat-card-title>
    <mat-card-subtitle>{{person.dob}}</mat-card-subtitle>
</mat-card>
<mat-card>

<mat-card-title>Address</mat-card-title>
<mat-card>
    <mat-card-title>Address Line 1</mat-card-title>
    <mat-card-subtitle>{{address.addressLine1}}</mat-card-subtitle>
</mat-card>
<mat-card>
    <mat-card-title>Address Line 2</mat-card-title>
    <mat-card-subtitle>{{address.addressLine2}}</mat-card-subtitle>
</mat-card>
<mat-card>
    <mat-card-title>City</mat-card-title>
    <mat-card-subtitle>{{address.city}}</mat-card-subtitle>
</mat-card>
<mat-card>
    <mat-card-title>Zip Code</mat-card-title>
    <mat-card-subtitle>{{address.zipCode}}</mat-card-subtitle>
</mat-card>
<mat-card>
    <mat-card-title>State Name</mat-card-title>
    <mat-card-subtitle>{{address.stateName}}</mat-card-subtitle>
</mat-card>
    

