<mat-tab-group>
  <mat-tab label="Home">
    <app-hr-home></app-hr-home>
  </mat-tab>
  <mat-tab label="Employee Profile">
    <app-hr-employee-profile></app-hr-employee-profile>
  </mat-tab>
  <mat-tab label="Visa Status Management">
    <app-hr-visa-page></app-hr-visa-page>
  </mat-tab>
  <mat-tab label="Hire">
    <app-hrhire></app-hrhire>
  </mat-tab>
<!--  <mat-tab label="Visa Status Management">-->
<!--    <app-hr-visa-status></app-hr-visa-status>-->
<!--  </mat-tab>-->
<!--  <mat-tab label="Hire">-->
<!--    <app-hr-hire></app-hr-hire>-->
<!--  </mat-tab>-->
</mat-tab-group>
