<mat-card>
    <mat-card-title>Car</mat-card-title>
    <mat-card-subtitle>{{employee.car}}</mat-card-subtitle>
</mat-card>
<mat-card>
    <mat-card-title>Driver License</mat-card-title>
    <mat-card-subtitle>{{employee.dl}}</mat-card-subtitle>
</mat-card>
<mat-card>
    <mat-card-title>Driver License Expiration Date</mat-card-title>
    <mat-card-subtitle>{{employee.dlExpirationDate}}</mat-card-subtitle>
</mat-card>
<mat-card>
    <mat-card-title>Visa Type</mat-card-title>
    <mat-card-subtitle>{{visa.visaType}}</mat-card-subtitle>
</mat-card>
<mat-card>
    <mat-card-title>Visa Start Date</mat-card-title>
    <mat-card-subtitle>{{visa.visaStartDate}}</mat-card-subtitle>
</mat-card>
<mat-card>
    <mat-card-title>Visa End Date</mat-card-title>
    <mat-card-subtitle>{{visa.visaEndDate}}</mat-card-subtitle>
</mat-card>
<mat-card>
    <mat-card-title>Work Start Date</mat-card-title>
    <mat-card-subtitle>{{employee.startDate}}</mat-card-subtitle>
</mat-card>
<mat-card>
    <mat-card-title>Work End Date</mat-card-title>
    <mat-card-subtitle>{{employee.endDate}}</mat-card-subtitle>
</mat-card>

