<!--
<form  [formGroup]="addForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <input type="hidden" formControlName="id" placeholder="{{data.id}}" name="id" id="id">
  </div>
  <div class="form-group">
    <label>Name:</label>
    <input type="text"formControlName="name" value="{{data.firstName + ' ' + data.middleName + ' ' + data.lastName}}" placeholder="{{data.firstName + ' ' + data.middleName + ' ' + data.lastName}}" name="name" id="name">
  </div>
  <div class="form-group">
    <label>Email:</label>
    <input type="email" formControlName="email" placeholder="{{data.email}}" name="email" id="email">
  </div>
  <div class="form-group">
    <label>Phone:</label>
    <input type="text" formControlName="phone" placeholder="{{data.cellPhone}}" name="phone" id="phone">
  </div>
  <br/>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button  cdkFocusInitial>Done</button>
  </div>
</form>
-->