<form  [formGroup]="addForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <input type="hidden" formControlName="id" placeholder="{{data.id}}" name="id" id="id">
  </div>
  <div class="form-group">
    <input type="hidden" formControlName="userId" placeholder="{{data.userId}}" name="userId" id="userId">
  </div>
  <div class="form-group">
    <label>First Name:</label>
    <input type="text" formControlName="firstName" value="{{data.firstName}}" placeholder="{{data.firstName}}" name="firstName" id="firstName">
  </div>
  <div class="form-group">
    <label>Middle Name:</label>
    <input type="text" formControlName="middleName" value="{{data.middleName}}" placeholder="{{data.middleName}}" name="middleName" id="middleName">
  </div>
  <div class="form-group">
    <label>Last Name:</label>
    <input type="text" formControlName="lastName" value="{{data.lastName}}" placeholder="{{data.lastName}}" name="lastName" id="lastName">
  </div>
  <div class="form-group">
    <label>Date of Birth:</label>
    <input type="text" formControlName="dob" value="{{data.dob}}" placeholder="{{data.dob}}" name="dob" id="dob">
  </div>
  <div class="form-group">
    <label>Gender:</label>
    <input type="text" formControlName="gender" value="{{data.gender}}" placeholder="{{data.gender}}" name="gender" id="gender">
  </div>
  <div class="form-group">
    <label>SSN:</label>
    <input type="text" formControlName="ssn" value="{{data.ssn}}" placeholder="{{data.ssn}}" name="ssn" id="ssn">
  </div>
  <br/>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button  cdkFocusInitial>Done</button>
  </div>
</form>
