<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
<!--        <div class="example-element-diagram">-->
<!--          <div class="example-element-position"> {{element.position}} </div>-->
<!--          <div class="example-element-symbol"> {{element.symbol}} </div>-->
<!--          <div class="example-element-name"> {{element.name}} </div>-->
<!--          <div class="example-element-weight"> {{element.weight}} </div>-->
<!--        </div>-->

<!--        <div class="example-element-description">-->
<!--          -->
<!--          <span class="example-element-description-attribution"> &#45;&#45; Wikipedia </span>-->
<!--        </div>-->

        <mat-tab-group class="tab-group">
          <mat-tab label="Personal Info">
            <app-personal-information [index]=element.id></app-personal-information>
          </mat-tab>
          <mat-tab label="Contact Info">
            <app-contact [index]=element.id></app-contact>
          </mat-tab>
          <mat-tab label="Emergence Contact">
            <app-contact [index]=element.id></app-contact>
          </mat-tab>
          <mat-tab label="Employment">
            <app-employee [index]=element.id></app-employee>
          </mat-tab>
        </mat-tab-group>


        <div class="comment" style="margin-left: 50px;">
          <form class="example-form" >
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Leave a comment</mat-label>
              <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" type="submit">Comment</button>
          </form>
        </div>

        <div class="judge" style="margin-left: 50px; margin-top: -20px;">
          <h2>Approve or reject this application?</h2>
          <button mat-raised-button color="primary" type="submit">Approve</button>
          <button mat-raised-button color="warn" type="submit">Reject</button>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
